/* ***************REGOLE GENERALI******** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ***********REGOLE MAIN*********** */

main{
    width: 70%;
    margin: 0 auto;
    font-size: 40px; 
    text-align: center;
    
    
}

main > *{
    margin-bottom: 30px;
}

h2{
    font-size: 50px;
    text-align: center;
}

#btn{
    margin: 0 auto;
    border-radius: 8px;
    border: 2px solid green;
    background-color: rgb(53, 46, 247);
    color: white;
    font-size: 30px;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
}

.risultato{
    color: crimson;
    margin-top: 50px;
}

.hum{
    
    color: rgb(27, 215, 27);
    
}

.flex{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.bot{
    color: brown;
}

.dadi{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    background-color: rgb(176, 171, 171);
    border-radius: 10px;
    
}

.none{
    display: none;
}

.dado1{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}


.dadox3{
    position: relative;

}

.colx31{
    position: absolute;
    top: 20px;
    left: 20px;
}

.colx33{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.dadox4{
    position: relative;
}
.colx41{
    position: absolute;
    top: 20px;
    left: 20px;
}

.colx42{
    position: absolute;
    top: 20px;
    right: 20px;
}

.colx43{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.colx44{
    position: absolute;
    bottom: 20px;
    right: 20px;

}

.dadox5{
    position: relative;
}

.colx51{
    position: absolute;
    top: 20px;
    left: 20px;
}

.colx52{
    position: absolute;
    top: 20px;
    right: 20px;

}

.colx54{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.colx55{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.dadox5{
    flex-direction: column;
    gap: 25%;
}